service firebase.storage {
  match /b/{bucket}/o {
    match /displays/{display}/images/{image} {
      allow read;
      allow write: if request.auth.token.admin
                   && request.resource.contentType.matches('image/*')
                   && request.resource.size < 30 * 1024 * 1024;
    }
  }
}
