.Chrome-header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f4f5f6;
  border-bottom: 0.1rem solid #d1d1d1;
}

.Chrome-header-text {
  flex: 1 1 auto;
  text-align: center;
  margin: 10px;
}

.Chrome-logout-button {
  flex: 0 1 auto;
  margin: 0px 20px;
}

.Chrome-middle {
  display: flex;
  justify-content: center;
  margin: 3rem 0.5rem 1rem 0.5rem;
}

.Chrome-content {
  width: 60%;
}

input.FieldEditor-field {
  width: 30rem;
}
